@CHARSET "UTF-8";

input, textarea {
		color: #767d85;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}
    input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px #dee1e3;
		outline: 0;
	}
input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background:#f0f6f9;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		font-family: "Montserrat", sans-serif;
		line-height: 3em;
		padding: 0 3.5em;
		text-transform: uppercase;
	}

input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover {
		background-color: #f78a76;
		}



/* 글쓰기 입력창 디자인 */
table {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
 	margin-bottom: 20px;
 	border-top: 3px solid #168;
    }  
    table th {
      color: #168;
      background: #f0f6f9;
      text-align: center;
    }
    table th, table td {
      padding: 10px;
      border: 1px solid #ddd;
    }
       table tr td:first-child{
      text-align: center;
    }
td input{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	padding-left: 5px;
}

td textarea{
	width: 100%;
	height: 300px;
	border-radius: 5px;
	font-size: 15px;
}

/* 버튼 디자인 */
.writing_button .button{
	float: right;
	margin-left: 10px;
	
}

 
.writing_button{
	width: 400px;
	/* border: 1px solid black; */
	margin-left: auto;
	margin-right: auto;
}